<html>
<head>
<style>
    body 
{
background-color:rgb(214, 201, 9);
}
.edge {
height: 100%;
display:flex;
justify-content:center;
align-items: center;
}
.box {
display:block;
border: thick solid rgb(23, 218, 114);
width: 500px;
height: 300px;
font-size: 20px;
background-color:rgb(243, 40, 13);
}
.formelt{
color:black;
text-align: center;
margin-top: 7px;
margin-bottom: 6px;
}
h1
{
color:rgb(0, 0, 0);
text-align: center;
padding-top: 20px;
}
</style>
</head>
<body>
<div class="edge">
<div class="box">
<h1>Power of a Light Filament</h1>
<h2>name:shaik hazeedmasthan reg no: 24013396</h2>
<form method="POST">
{% csrf_token %}
<div class="formelt">
Intensity : <input type="text" name="intensity" value="{{i}}"></input>(in Wm<sup>-2</sup>)<br/>
</div>
<div class="formelt">
Resistance : <input type="text" name="resistance" value="{{r}}"></input>(in ohm)<br/>
</div>
<div class="formelt">
<input type="submit" value="Calculate"></input><br/>
</div>
<div class="formelt">
Power : <input type="text" name="power" value="{{power}}"></input>(in W)<br/>
</div>
</form>
</div>
</div>
</body>
</html>
